@model IEnumerable<ProjetoPaje.Models.ProdutoModel>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Listagem de Produtos</h1>

<p>
    <a asp-action="Criar" class="btn btn-primary">Adicionar Novo Produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeMinima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr class="@(item.Quantidade <= item.QuantidadeMinima ? "table-danger" : "")">
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeMinima)
        </td>
        <td>
            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a> |
            <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalhes</a> |
            <a asp-action="Apagar" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Apagar</a>
        </td>
    </tr>
}
    </tbody>
</table>

